<div class="wrapper">
  <section id="section-contact" class="content">
    <div>      
      <h2>Want more information?</h2>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content contact-btn">
              <p>Try one of these buttons or fill out the form.</p>
            </div>
            <div class="card-action links">
              <a href="https://github.com/Jessawynne"><i class="fa-3x fa fa-github-square"></i></a>
              <a href="https://www.linkedin.com/in/jessawynneparker"><i class="fa-3x fa fa-linkedin-square"></i></a>
              <a href="mailto:jessawynne@gmail.com?Subject=Hey%20there."><i class="fa-3x fa fa-envelope-square"></i></a>
            </div>
            <div class="card-action card-form">
              <div class="row">
                <form class="col s12">
                  <div class="row form">
                    <div class="input-field col s12">
                      <input id="name" type="text" class="validate">
                      <label for="name">Name</label>
                    </div>
                  </div>
                  <div class="row form">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row form">
                    <div class="input-field col s12">
                      <textarea id="textarea" class="materialize-textarea validate"></textarea>
                      <label for="textarea">Comments</label>
                    </div>
                  </div>
                </form>
                <button class="col s12 btn waves-effect waves-light" type="submit" name="action">Send
                <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
                <img src="../img/nashvegas.jpg">
              </div>
            <div class="card-content contact-coffee">
              <p>If you want to catch me in action, you can usually find me at one of my favorite coffee shops.</p>
              <h2 id="coffee-picks">Coffee Shop Picks</h2>
            </div>
            <div class="card-action coffee">
              <a href="http://www.bongojava.com/bongo-east/"><i class="fa-2x fa fa-coffee"></i>Bongo Java</a>
              <a href="http://frothymonkey.com/locations/downtownnashville/"><i class="fa-2x fa fa-coffee"></i>Frothy Monkey</a>
              <a href="http://theposteast.com/"><i class="fa-2x fa fa-coffee"></i>The Post East</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>