<div class="wrapper">
  <section id="section-contact" class="content">
    <div>      
      <h2>Contact Me</h2>

      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content contact-btn">
              <p>Try one of these buttons for more information.</p>
            </div>
            <div class="card-action links">

              <a class="tooltipped" data-position="bottom" data-delay="20" data-tooltip="my code" href="https://github.com/Jessawynne"><i class="fa-3x fa fa-github-square"></i></a>

              <a class="tooltipped" data-position="bottom" data-delay="20" data-tooltip="my history" href="https://www.linkedin.com/in/jessawynneparker"><i class="fa-3x fa fa-linkedin-square"></i></a>
              
              <a class="tooltipped" data-position="bottom" data-delay="20" data-tooltip="my pictures" href="https://www.instagram.com/jessawynne/"><i class="fa-3x fa fa-instagram"></i></a>
            
            </div>
            <div class="card-image">
              <img src="../img/nashvegas.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="boxy">
  <div class="inner-item">
      <div class="sub">
          <p><a class="tooltipped" data-position="left" data-delay="20" data-tooltip="click here" href="mailto:jessawynne@gmail.com?Subject=Hey%20there.">Tell me.</a></p>
      </div>
    <h3>Like what you see?</h3>
  </div>
</div>