<section id="section-details" class="content">
  <div>

    <h2>Details</h2>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <img src='../img/details-pic.png'>
          </div>
          <div class="card-content">
            <span class='detail-card'><p>Hi, I’m Jessawynne, a software developer at the Nashville Software School. In October 2015, I decided I wanted to dive into the world of coding. To that end, I am completing an intensive, six-month coding bootcamp that involves exposure to both frontend and backend web development.</p>
            </span>
            <span class='detail-card'><p>During the frontend, I became knowledgeable in HTML, CSS, JavaScript, jQuery, Git protocols, API usage and creation, and the Command Line Interface.</p></span>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="../img/angularjs.png"></a>
              <a class="carousel-item" href="#two!"><img src="../img/bootstrap.png"></a>
              <a class="carousel-item" href="#three!"><img src="../img/bower.png"></a>
              <a class="carousel-item" href="#four!"><img src="../img/express.png"></a>
              <a class="carousel-item" href="#five!"><img src="../img/grunt.png"></a>
              <a class="carousel-item" href="#six!"><img src="../img/javascript.png"></a>
              <a class="carousel-item" href="#seven!"><img src="../img/nodejs.png"></a>
            </div>
          </div>
          <div class="card-content">
            <span class='detail-card'><p>Currently, I am gearing up for the backend course, which covers the ionic framework and Node.js.</p></span>
            <span class='detail-card'><p>Whether it be laying out a page or coding it, the attention to detail is my highest priority. If you have something brewing that I might be able to help with, <a href="mailto:jessawynne@gmail.com">send me a quick message</a>. Look forward to hearing from you.</p>
            </span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>