<section id="section-details" class="content">
  <div>
    <h2>Details</h2>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-image">
            <img src='../img/details-pic.jpg'>
          </div>
          <div class="card-content">
            <span class='detail-card'>
              <p>
              Hi there, I'm Jessawynne, a software developer at the Nashville Software School.
              </p>
              <p>              
              In October 2015, I graciously accepted an apprenticeship at NSS. From this point on, I would be immersed in an intensive, six-month coding bootcamp, gaining exposure to both front-end and back-end web development.
              </p>
              <p>              
              During this time, I have become knowledgeable in HTML, CSS, JavaScript, jQuery, Git protocols, API usage and creation, the Command Line Interface, the Ionic framework and NodeJS just to name a few (See below).
              </p>
              <p>              
              Since day one, I have been fascinated by the intersection of technology, culture, and globalization. I am extremely interested in creating interfaces and technologies that are compelling to the user.
              </p>
              <p>
              I am pursuing a career in tech because the project doesn't end at the keyboard. Thanks to NSS, I have gotten a taste of how the fast pace of technology provides a constant space for collaboration, learning, and creativity. I appreciate an engaged, collaborative workplace because I believe it fosters innovative solutions to novel problems. 
              </p>               
              <p>Whether it be laying out a page or coding it, the attention to detail is my highest priority. If you have something brewing that I might be able to help with, <a href="mailto:jessawynne@gmail.com">send me a quick message</a>. Look forward to hearing from you.
              </p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col s12 m12 l12">
        <div class="card">
            <h2 class="card-title">Technologies</h2>
            <div class="col s6">
              <h5>Languages</h5>
                <ul class='unstyled'>
                  <li>JavaScript</li>
                </ul>
              <h5>Frameworks</h5>
                <ul class='unstyled'>
                  <li>Node.js/Express</li>
                  <li>Socket.IO</li>
                  <li>AngularJS</li>
                </ul>
              <h5>Tools</h5>
                <ul class='unstyled'>
                  <li>Vim</li>
                  <li>Heroku</li>
                  <li>Git</li>
                  <li>Grunt/Gulp</li>
                  <li>NPM/Bower</li>
                </ul>
              <h5>Testing</h5>
                <ul class='unstyled'>
                  <li>Mocha/Chai</li>
                  <li>Travis CI</li>
                  <li>ESLint</li>
                </ul>
            </div>
            <div class="col s6">
              <h5>Database</h5>
                <ul class='unstyled'>
                  <li>MongoDB</li>
                  <li>SQLite3</li>
                  <li>PostGreSQL</li>
                </ul>
              <h5>User Experience</h5>
                <ul class='unstyled'>
                  <li>HTML5/Jade</li>
                  <li>CSS/CSS3</li>
                  <li>Sass</li>
                  <li>RequireJS</li>
                  <li>jQuery</li>
                  <li>Bootstrap</li>
                </ul>
              <h5>Mobile Development</h5>
                <ul class='unstyled'>
                  <li>Cordova/Ionic</li>
              </ul>
            </div>
          <div class="card-image">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="../img/angularjs.png"></a>
              <a class="carousel-item" href="#two!"><img src="../img/bootstrap.png"></a>
              <a class="carousel-item" href="#three!"><img src="../img/bower.png"></a>
              <a class="carousel-item" href="#four!"><img src="../img/express.png"></a>
              <a class="carousel-item" href="#five!"><img src="../img/grunt.png"></a>
              <a class="carousel-item" href="#six!"><img src="../img/javascript.png"></a>
              <a class="carousel-item" href="#seven!"><img src="../img/nodejs.png"></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>