<section id="section-cover" class="content">
  <div>
    <h1 class='hithere'>
      <span class='hi'>HI</span>
      <span class='there'>THERE!</span>
    </h1>
  </div>
  <h2>I'm Jessawynne Parker.</h2>
  <h3>Software Developer</h3>
  <p>
    <a href="https://github.com/Jessawynne"><i class="fa-3x fa fa-github-square"></i></a>
    <a href="https://www.linkedin.com/in/jessawynneparker"><i class="fa-3x fa fa-linkedin-square"></i></a>
    <a href="mailto:jessawynne@gmail.com?Subject=Hey%20there."><i class="fa-3x fa fa-envelope-square"></i></a>
    <a href="https://www.instagram.com/jessawynne/"><i class="fa-3x fa fa-instagram"></i></a>
  </p> 
</section>