<section id="section-work" class="content">
  <div>
    <h2>Selected Works</h2>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="material-icons">code</i>JavaScript Collection
        </div>
        <div class="collapsible-body">
          <img src="../img/js-img.jpg" />
          <p>A growing collection of my hand-coded solutions to several simple JavaScript exercises.</p>
          <p>
          <a href='https://github.com/Jessawynne/javascript-exercises'>View the Code</a>
          </p>
        </div>
      </li>
       <li>
        <div class="collapsible-header active">
          <i class="material-icons">mode_edit</i>Node Collection
        </div>
        <div class="collapsible-body">
          <img src="../img/nodejs-img.jpg" style="width:718px"/>
          <p>Coming Soon</p>
          <p>
          <!-- <a href=''>View the Code</a> -->
          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">mode_edit</i>Ingredient Guru</div>
        <div class="collapsible-body">
          <img src="../img/food-guru.jpg" />
          <p>Coming Soon</p>
          <p>
          <!-- <a href=''>View the Code</a> -->
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
 
