/**
 * NavBar
 */
.nav-wrapper {
    background-color: $color-three;
}
.brand-logo {
    font-family: $font-one;
    text-decoration: uppercase;
    margin: 0 0 0 5%;
    letter-spacing: 3px;
}
.nav-wrapper a {
    background-color: $color-three;
}
.button-collapse {
    margin-left: 10px;
}
#mobile-demo {
    background-color: $color-three;
    a {
        color: $background-color;
    }
}

/**
 * Site header
 */
.site-header {
    min-height: 56px;
    position: relative;
}
.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 3px;
    text-decoration: uppercase;
    margin-bottom: 0;
    float: left;
    font-family: $font-one;
    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $color-text;
        line-height: $base-line-height;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            > svg {
                width: 18px;
                height: 15px;
                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
        .page-link {
            display: block;
            padding: 5px 10px;
            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.content {
  z-index: 2;
  text-align: center;
}
.content div {
  padding-top: 60px;
  box-sizing: border-box;
  text-align: left;
}

/**
 * Section Cover
 */
#section-cover {
    height: 600px;
    background: url('../img/lt-blue-gray-stripes.png');
    box-sizing: border-box;
    padding-top: 75px;
    z-index: 3;
    div {
        background: url('../img/blue-img.png');
        box-shadow: 5px 5px 3px rgb(153,153,153);
        border-radius: 3px;
        padding: 5px;
        width: 160px;
        margin: 0 auto;
    }
    h1 {
      color: $color-main;
      font-family: $font-one;
      font-weight: bolder;
      text-align: center;
      letter-spacing: 3px;
      display: block;
      padding-bottom: 0;
      .hi {
        font-size: 110px;
      }
      .there {
        font-size: 28px;
      }
    }
    h2 {
      padding: 10px;
      color: $color-main;
      font-family: $font-two;
      font-weight: bolder;
      text-align: center;
      text-transform: none;
      letter-spacing: 0;
      font-size: 32px;
      line-height: 75%;
      margin: 25px auto 0;
    }
    h3 {
      padding: 6px;
      color: $color-main;
      font-family: $font-one;
      font-weight: bolder;
      text-align: center;
      letter-spacing: 3px;
      font-size: 14px;
      line-height: 75%;
      margin: 0 10px auto;
    }
    p {
      padding-top: 125px;
      width: 100%;
      color: $color-three;
      box-sizing: border-box;
      text-align: center;
    }
}

/**
 * Section Selected Work
 */
#section-work h2, #section-details h2 {
    letter-spacing: 3px;
    font-family: $font-one;
    text-transform: uppercase;
    color: $color-three;
}
#section-work p, #section-details p {
    font-family: $font-three;
    padding: 15px;
}

#section-work {
    div.collapsible-header {
        padding-top: 0;
        background-color: $color-two;
        font-size: 16px;
        color: $color-main;
        font-family: $font-three;
    }
    a {
        font-family: $font-two;
        font-size: 24px;
        text-decoration: none;
    }
}


/**
 * Section Selected Work Contact Box
 */
.boxy {
    margin: 0 0 0 75%;
    padding: 0;
    display: block;
    text-align: center;
    width: 220px;
    height: 220px; 
}
 
.boxy:after,
.inner-item:before {
    content: '';
    display: table;
}
 
.boxy:after {
    clear: both;
}

.inner-item {   
    width:100%;
    height:100%;
    background: url('../img/blue-img.png');
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    margin:20px;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.4s ease-in-out; 
}


.sub {
    position: absolute;
    background: $color-text;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
}

.inner-item h3 {
    position:relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 30px;
    padding: 75px 0 0 0;
    height: 100px;
    font-family: $font-one;
    font-weight: 700;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 1px rgba(0,0,0,0.2);
}

.sub p {
    color: $color-three;
    padding: 10px 5px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: $font-one;
    margin: 140px 30px;
    border-top: 5px solid rgba(255,255,255,0.5);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0.8s;
}

.sub p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    padding-top: 7px;
    font-family: $font-one;
    text-decoration: none;
}
 
.sub p a:hover {
    color: $color-three;
    padding: 5px;
    border-radius:101px;
    border: 2px solid $color-two;
    background-color: $color-text;
}

.inner-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.inner-item:hover .sub {
    -webkit-transform: scale(1);
    opacity: 1;
}

.inner-item:hover .sub p {
    opacity: 1;
}

/**
 * Section Details
 */
#section-details {
    div.card {
        padding: 10px;
        div.card-image {
            padding: 0;
        }
    }
    div.card-content {
        background-color: $color-text;
        padding: 10px;
        margin: 10px;
        span.detail-card {
            color: $color-main;
            font-family: $font-three;
            font-size: 16px;
        }
    }
    div.row {
        padding-top: 10px;
        img {
            padding: 10px;
        }
    }
    div.carousel {
        height: 230px;
    }
}

#section-contact {
    div.form {
        padding: 0;
        input.validate {
            font-size: 16px;   
        }
    }

    button.btn {
        background-color: $color-three;
        font-family: $font-one;
        text-align: right;
        letter-spacing: 3px;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .brand-logo {
        margin: 0;
    }
    #section-cover {
        height: 475px;
        p {
            padding-top: 50px;
        }
    }
    #section-work h2 {
        text-align: center;
    }

    /**
     * Section Selected Work Contact Box
     */
    .boxy {
        margin: 0 0 0 45%;
        width: 120px;
        height: 120px; 
    }
    .inner-item {   
        margin:10px;
        box-shadow: 
            inset 0 0 0 10px rgba(255,255,255,0.6),
            0 1px 2px rgba(0,0,0,0.1);
        -webkit-transition: all 0.4s ease-in-out; 
    }
    .inner-item h3 {
        letter-spacing: 0;
        font-size: 12px;
        padding: 30px 0 0 0;
        font-weight: 400;
    }
    .sub p {
        padding: 5px 2px;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0;
        margin: 65px 30px;
        border-top: 2px solid rgba(255,255,255,0.5);
    }
    .sub p a {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0;
        padding-top: 3px;
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
